:root {
    --primary: white;
    --secondary: #22344D;
    --third: #F2CA10;
}

/* @media (min-width: 1200px) {
    .container{
        max-width: 1170px;
    }
} */

.login-body {
    background-color: var(--third);
    min-height: 100vh;
    /* width: 100%; */
}

.login--trunk-container {
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch; */
    height: 100vh;
    /* border-color: var(--secondary);
    border-width: 1rem; */
}


.login-container {
    /* width: 35%; */
    background-color: var(--primary);
    /* padding-top: 30vh; */
    height: 100%;
}

.login--right-side {
    height: 100vh;
    overflow: hidden;
}

.login--login-title {
    margin-bottom: 5rem;
}

.username {
    margin-bottom: 1rem;
}

.login--right-side-box {
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translate(45%, -25%);
    text-align: right;
    left: 10%;
}

.login--bg-img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: -1; */
}
    

.login-btn {
    cursor: pointer;
    color: var(--primary);
    font-size: 48px;
    font-weight: bold;
    padding: .5rem;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(5px);
    outline: none;
    border: 5px solid white;
    background-color: transparent;
    min-height: 14vh;
    transition: .3s;
    /* margin-top: 22rem; */
    margin-bottom: 1rem;
    display: inline-block;
}


.login-btn:hover {
    background-color: white;
    color: var(--secondary);
    transition: .3s;
}   

h5 {
    font-size: 24px;
}

input {
    border-width: 0px;
    border-bottom-width: 2px;
    border-color: var(--secondary);
    color: var(--secondary);
    font-size: 24px;
}

.login--dont-have-account {
    /* margin-left: .75rem; */
    margin-top: 2rem;
}

.login--dont-have-account span{
   
    font-size: 24px;
    color: white;
    transition: .4s;
}

.login--dont-have-account span:hover{
    margin-left: .75rem;
    margin-top: 2rem;
    font-size: 24px;
    color: var(--secondary);
    background-color: white;
    transition: .4s;
}

.login-box{
    /* padding-left: 10vw; */
    /* margin-top: 30vh; */
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-25%, -25%);
}

.login--dont-have-cont {
    display: inline-block;
}

.login--btn-cont {
    text-align: right;
    /* align-items: right; */
}

.login-img {
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    .login--trunk-container{
        flex-direction: column;
    }
    .login-container{
        border-radius: 7px;
        min-width: 80%;
    }
    .login-container, .login--right-side{
        height: 45%;
        border-radius: 7px;
    }
    .login-img, .login-container{
        padding-top: 8vh;
    }
    .login-box{
        padding-left: 18vw;
        top: 25%;
        min-width: 60%;
    }

    .login--right-side{
        min-width: 80%;
    }

    .login--right-side-box{
        top: 72%;
    }

    .login--right-side-box{
        left: -45%;
    }

    .login-btn{
        box-shadow: 0px 0px 50px 10px black;
    }

    .login--dont-have-account span{
        text-shadow: 0px 0px 10px black;
    }

  }