:root {
    --primary: white;
    --secondary: #22344D;
    --third: #F2CA10;
}

.login-body {
    background-color: var(--third);
    width: 100%;
}

.trunk-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-left: 14rem;
    width: 100%;
    margin-right: 14rem;
    height: 100vh;
    border-color: var(--secondary);
    border-width: 1rem;
}

.login-container {
    width: 35%;
    background-color: var(--primary);
    padding-top: 21.5rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.username {
    margin-bottom: 1rem;
}

.login-img {
    background-color: aqua;
    width: 35%;
    display: flex;
    justify-content: center;

    padding-top:  22rem;
    padding-bottom: 22rem;
}

.login-btn {
    cursor: pointer;
    color: var(--primary);
    font-size: 48px;
    font-weight: bold;
    padding: .5rem;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(5px);
    border-color: white;
    border-width: .5rem;
    background-color: transparent;
}

h5 {
    font-size: 24px;
}

input {
    border-width: 0px;
    border-bottom-width: 2px;
    border-color: var(--secondary);
    color: var(--secondary);
    font-size: 24px;
}