:root {
    --primary: white;
    --secondary: #22344D;
    --third: #F2CA10;
}

/* @media (min-width: 1200px) {
    .container{
        max-width: 1170px;
    }
} */

.signup-body {
    background-color: var(--secondary);
    min-height: 100vh;
    /* width: 100%; */
} 


.signup--container {
    background-color: var(--primary);
    max-height: 100vh; 
    margin-top: 0px;
    padding-left: 3rem;
}

.signup--password-help {
    color:rgba(0, 0, 0, 0.5);
    margin-right: 5rem;
    margin-top: 3rem;
    /*text-align: center;*/
    margin-bottom: 1rem;
    width: 15vw;
}

.username {
    margin-bottom: 1.5rem;
}
.email{
    margin-bottom: 1.5rem;
}
.password{
    margin-bottom: 1.5rem;
}

.signup-img {
    /*
    width: 35%;
    display: flex;
    justify-content: center;

    padding-top:  22rem;
    padding-bottom: 22rem;
    */
    max-height: 100vh;
}

.signup--left-side {
    overflow: hidden;
    height: 100vh;
    background-color: black;
    /* opacity: 0.7; */
}

.signup-img {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-30%, -50%);
    
}

.signup-box{
    /*
    margin-top: 15rem;
    margin-left: 6rem;
    */
    position: absolute;
    top: 60%;
    left: 72%;
    transform: translate(-28%, -40%);
}

.signup-btn {
    cursor: pointer;
    color: var(--primary);
    font-size: 48px;
    font-weight: bold;
    padding: .5rem;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(5px);
    outline: none;
    border: 5px solid white;
    background-color: transparent;
    min-height: 14vh;
    transition: .3s;
    margin-top: 15vh;
    margin-bottom: 1rem;
}

.signup-btn:hover {
    background-color: white;
    color: var(--secondary);
    transition: .3s;
}   

h5 {
    font-size: 24px;
}

input {
    border-width: 0px;
    border-bottom-width: 2px;
    border-color: var(--secondary);
    color: var(--secondary);
    font-size: 24px;
}

.signup--already-have-an-account {
    margin-left: .75rem;
    margin-top: 2rem;
}

.signup--already-have-an-account span{
   
    font-size: 24px;
    color: white;
    transition: .4s;
}

.signup--already-have-an-account span:hover{
    margin-left: .75rem;
    margin-top: 2rem;
    font-size: 24px;
    color: var(--secondary);
    background-color: white;
    transition: .4s;
}

.signup--bg-img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}

.signup--signup-title{
    margin-top: 7vh;
    margin-left: 12vw;
}


@media only screen and (max-width: 600px) {
    .trunk-container{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .signup--left-side, .signup--container{
        height: 45vh;
        width: 80vw !important;
        border-radius: 7px;
    }

    .signup--img{
        top: -120% !important;
    }
  }