:root {
    --primary: white;
    --secondary: #22344D;
    --third: #F2CA10;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1170px;
    }
}

.login-body {
    background-color: var(--secondary);
    min-height: 100vh;
    /* width: 100%; */
}

/*
.trunk-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-left: 14rem;
    width: 100%;
    margin-right: 14rem;
    height: 100vh;
    border-color: var(--secondary);
    border-width: 1rem;
}
*/ 


.signup--container {
    background-color: var(--primary);
    max-height: 100vh; 
    margin-top: 0px;
    padding-left: 3rem;
}

.signup--password-help {
    color:rgba(0, 0, 0, 0.5);
    margin-right: 5rem;
    margin-top: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.username {
    margin-bottom: 1.5rem;
}
.email{
    margin-bottom: 1.5rem;
}
.password{
    margin-bottom: 1.5rem;
}

.login-img {
    /*
    width: 35%;
    display: flex;
    justify-content: center;

    padding-top:  22rem;
    padding-bottom: 22rem;
    */
    background-color: var(--secondary);
    max-height: 100vh;
}

.signup-box{
    margin-top: 15rem;
    margin-left: 6rem;
}

.signup-btn {
    cursor: pointer;
    color: var(--primary);
    font-size: 48px;
    font-weight: bold;
    padding: .5rem;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(5px);
    outline: none;
    border: 5px solid white;
    background-color: transparent;
    min-height: 14vh;
    transition: .3s;
    margin-top: 22rem;
}

.signup-btn:hover {
    background-color: white;
    color: var(--secondary);
    transition: .3s;
}   

h5 {
    font-size: 24px;
}

input {
    border-width: 0px;
    border-bottom-width: 2px;
    border-color: var(--secondary);
    color: var(--secondary);
    font-size: 24px;
}