:root {
    --primary: white;
    --secondary: #22344D;
    --third: #F2CA10;
}

/* @media (min-width: 1200px) {
    .container{
        max-width: 1170px;
    }
} */

.signup-body {
    background-color: var(--secondary);
    min-height: 100vh;
    /* width: 100%; */
    color: var(--black);
} 


.signup--container {
    background-color: var(--primary);
    min-height: 100vh; 
    margin-top: 0px;
    /* padding-left: 3rem; */
}

.signup--password-help {
    color:rgba(0, 0, 0, 0.5);
    /* margin-right: 5rem; */
    margin-top: 3rem;
    /*text-align: center;*/
    margin-bottom: 1rem;
    /* width: 15vw; */
}

.username {
    margin-bottom: 1.5rem;
}
.email{
    margin-bottom: 1.5rem;
}
.password{
    margin-bottom: 1.5rem;
}

.signup-img {
    /*
    width: 35%;
    display: flex;
    justify-content: center;

    padding-top:  22rem;
    padding-bottom: 22rem;
    */
    min-height: 100vh;
}

.signup--left-side {
    overflow: hidden;
    height: 100vh;
    background-color: black;
    /* opacity: 0.7; */
}

/* .signup-box-2 {
    padding-left: 9rem;
}

@media only screen and (max-width: 900px) and (min-width: 759px) {
    .signup-box-2 {
        padding-left: 5rem;
    }
} */

.signup-box{
    /*
    margin-top: 15rem;
    margin-left: 6rem;
    */
    /* position: absolute;
    top: 60%;
    left: 72%;
    transform: translate(-28%, -40%); */
    margin-top: 5vh;
    padding-top: 5vh;
}

.signup-btn {
    cursor: pointer;
    background-color: #22344D;
    color: white;
    padding: 1vw 2vw;
    font-size: 18px;
    border-radius: 12px;
    margin-bottom: 2vh;
    margin-top: 2vh;
    transition: .1s;
}

.signup-btn:hover {
    background-color: white;
    color: var(--secondary);
    transition: .2s;
}   

h5 {
    font-size: 24px;
}

input {
    border-width: 0px;
    border-bottom-width: 2px;
    border-color: var(--secondary);
    color: var(--secondary);
    font-size: 24px;
}


.signup--signup-title{
    /* margin-top: 7vh;
    margin-left: 12vw; */
    margin-bottom: 5rem;
}

.signup--bg-img{
    height: 100vh;
    align-self: center;
}

@media only screen and (max-width: 768px) {
    .signup--left-side {
        display: none;
    }
}
