.why--container {
    display: flex;
    flex-direction: row;
}

.why--text {
    width: 50%;
    justify-self: end;
    padding: 2rem;
}

.why--text >h1 {
    font-size: 48px;
}

.why--text >p {
    margin-top: 14px;
    font-size: 20px;
    line-height: 1.75rem;
}

.why--img {
    width: 50%;
    justify-self: start;
    background: url("../../../../public/images/notes.jpeg") no-repeat right / 100% 100%;
}