.profile--base {
    min-height: 100vh;
}

.profile--container {
    min-height: 100vh;
}

.profile--container-error {
    min-height: 100vh;
}

.profile--base-row {
    min-height: 100vh;
    background-color: var(--primary-opacity);
    padding: 2rem;
    padding-top: 15vh;
    min-width: 40rem;
}

.profile--element {
    /* color: white; */
    font-size: 24px;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.profile--img-element {
    background-color: antiquewhite;
    height: 8rem;
    width: 8rem;
    padding: 0;
    margin: 0;
    margin-bottom: 4rem;
    margin-top: 2rem;
    border: 3px solid white;
}

.profile--edit-element {
    transition: .3s;
    margin-top:2rem;
    font-size: 18px;
    text-decoration: none;
    background-color: var(--secondary);
    border-radius: 15px;
    width: 14rem;
}
.profile--edit-element > h3 {
    padding:0.5rem;
    color: white
}

.profile--edit-element:hover {
    text-decoration: none;
    /* background-color: white; */
    transition: .3s;
    border-radius: 15px;
    filter: brightness(80%);
}

.profile--edit-element:hover > h3 {
    color: white;
}

.profile--about-me-box {
    font-size: 20px;
}

@media only screen and (max-width: 767px) {
    .profile--right-side {
        min-height: 50vh;
        padding-top: 2rem;
    }
    
    .profile--left-side {
        min-height: 50vh;
        padding-bottom: 2rem;
        border-bottom: 10px solid var(--mcc-sarga);
    }
}