.profile--base {
    min-height: 100vh;
}

.profile--container {
    min-height: 100vh;
}

.profile--container-error {
    min-height: 100vh;
}

.profile--left-side {
    min-height: 100vh;
    background-color: var(--black);
    padding: 2rem;
    padding-top: 15vh;
}

.profile--right-side {
    min-height: 100vh;
    padding: 2rem;
    padding-top: 20vh;
    background-color: var(--primary);
}

.profile--element {
    color: white;
    font-size: 24px;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.profile--img-element {
    background-color: antiquewhite;
    height: 8rem;
    width: 8rem;
    padding: 0;
    margin: 0;
    margin-bottom: 4rem;
    margin-top: 2rem;
    border: 3px solid white;
}

.profile--edit-element {
    text-decoration: underline;
    transition: .3s;
    margin-top:2rem;
    font-size: 18px;
}

.profile--edit-element:hover {
    text-decoration: none;
    background-color: white;
    transition: .3s;
    border-radius: 15px;
}

.profile--right-element {
    padding: 2rem;
    box-shadow: 20px 20px 50px 10px var(--mcc-sarga) inset;
    border-radius: 15px;

    margin-bottom: 2rem;
}

.profile--about-me-box {
    font-size: 20px;
}

.profile--about-me-row, .profile--ind-debate-row{
    background-color: var(--primary) !important;
    color: var(--primary);
}

.profile--about-me-title, .profile--right-element h1{
    color: var(--primary);
}

@media only screen and (max-width: 767px) {
    .profile--right-side {
        min-height: 50vh;
        padding-top: 2rem;
    }
    
    .profile--left-side {
        min-height: 50vh;
        padding-bottom: 2rem;
        border-bottom: 10px solid var(--mcc-sarga);
    }
}