:root {
    --primary: white;
    --secondary: #22344D;
    --third: #F2CA10;
    --red: #FF0000;
    --green: #49FF00;
}

.indebate--base {
    min-height: 75vh;
}

.indebate--container {
    min-height: 75vh;
    padding-top: 15vh;
}

.indebate--numbers {
    font-size: 36px;
    font-weight: bold;
}

.indebate--buttons {
    margin: 0;
    margin-top: 4rem;
    font-size: 36px;
}

.indebate--button {
    max-width: 12rem;
    min-width: 10rem;
    margin-bottom: 1rem;
    border: 4px solid black;
    border-radius: 2rem;
    text-transform: uppercase;
    outline: none;
}

.indebate--start-stop {
    height: 30px;
    width: 30px;
}

.indebate--reset {
    height: 30px;
    width: 30px;
}

.indebate--next {
    height: 30px;
    width: 30px;
}

.indebate--back {
    
    transform: scale(1, -1);
    height: 30px;
    width: 30px;
}

.indebate--start {
    border-color: var(--green);
    background-color: var(--green);
    color: white;
    transition: .3s;
}

.indebate--start:hover {
    background-color: white;
    color: green;
    transition: .3s;
}

.indebate--stop {
    border-color: red;
    background-color: red;
    color: white;
    transition: .3s;
}

.indebate--stop:hover {
    background-color: white;
    color: red;
}


.indebate--reset-button {
    border-color: var(--secondary);
    background-color: var(--secondary);
    transition: .3s;
}

.indebate--reset-button:hover {
    background-color: white;
    transition: .3s;
}

.indebate--next-button {
    border-color: var(--third);
    background-color: var(--third);
    transition: .3s;
    margin-left: 4px;
}

.indebate--next-button:hover {
    background-color: white;
    transition: .3s;
}

.indebate--back-button {
    border-color: var(--third);
    background-color: var(--third);
    transition: .3s;
    margin-right: 4px;
}

.indebate--back-button:hover {
    background-color: white;
    transition: .3s;
}

.indebate--current-speaker {
    margin-bottom: 4rem;
}

.in-debate--hiba {
    height: 100vh;
    transform: translate(0, -12%);
}