:root {
    /* --primary: white;
    --secondary: #333d4b;
    --third: #F2CA10; */
    --red: #FF0000;
    --green: #49FF00;
}

.indebate--base {
    min-height: 75vh;
}

.poi-button{
    height: 50px;
    border-radius: 1.5rem;
    width: auto;
    padding: 30px 50px;
    line-height: 0px;
    font-size: 25px;
}

.indebate--container {
    /* min-height: 75vh; */
    padding-top: 120px;
    background-color: var(--primary);
    min-height: 100vh;
    width: 1000px;
    margin: 0 auto;
}

.indebate--numbers {
    font-size: 72px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}

.indebate--buttons {
    margin: 0;
    margin-top: 4rem;
    font-size: 36px;
}

.indebate--button {
    max-width: 12rem;
    min-width: 10rem;
    margin-bottom: 1rem;
    border: 4px solid black;
    border-radius: 2rem;
    text-transform: uppercase;
    outline: none;
}

.indebate--start-stop {
    height: 30px;
    width: 30px;
}

.indebate--reset {
    height: 30px;
    width: 30px;
}

.indebate--next {
    height: 30px;
    width: 30px;
}

.indebate--back {
    
    transform: scale(1, -1);
    height: 30px;
    width: 30px;
}

.indebate--start {
    border-color: var(--green);
    background-color: var(--green);
    color: white;
    transition: .3s;
}

.indebate--start:hover {
    background-color: white;
    color: green;
    transition: .3s;
}

.indebate--stop {
    border-color: red;
    background-color: red;
    color: white;
    transition: .3s;
}

.indebate--stop:hover {
    background-color: white;
    color: red;
}


.indebate--reset-button {
    border-color: #333d4b;
    background-color: #333d4b;
    transition: .3s;
}

.indebate--reset-button:hover {
    background-color: white;
    transition: .3s;
}

.indebate--next-button {
    border-color: var(--third);
    background-color: var(--third);
    transition: .3s;
    margin-left: 4px;
}

.indebate--next-button:hover {
    background-color: white;
    transition: .3s;
}

.indebate--back-button {
    border-color: var(--third);
    background-color: var(--third);
    transition: .3s;
    margin-right: 4px;
}

.indebate--back-button:hover {
    background-color: white;
    transition: .3s;
}

.indebate--current-speaker {
    margin-bottom: 10px;
}

.in-debate--hiba {
    height: 100vh;
    transform: translate(0, -12%);
}

.indebate--motion-text {
    font-weight: bold;
    color: #61C3C3;
    font-size: 30px;
    padding: 20px 30px;
}

.indebate--motion-field {
    margin: 20px 0;
}

.indebate--entry-code-field {
    margin-bottom: 10px;
}

.indebate--entry-code-text {
    font-size: 36px;
    letter-spacing: 1px;
    
}

.in-debate--finish-button {
    font-weight: bold;
    text-transform: uppercase;
    /* color: #333d4b; */
    color: white;
    /* background-color: var(--primary); */
    background-color: #333d4b;
    /* border: 4px solid #333d4b; */
    border: 4px solid white;
    transition: .3s;
    border-radius: 2rem;
}

.in-debate--finish-button:hover {
    /* color: rgb(243, 234, 226); */
    color: #333d4b;
    /* background-color: #333d4b; */
    background-color: white;
    border: 4px solid white;
    /* transition: .3s; */
}

.in-debate--leave-debate {
    background-color: #333d4b;
    background-color: #6f0000;
    /*height: 3rem;*/
    padding: 2vh 2vw;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    border: none;
    border-radius: 12px;
    transition: .2s;
}

.in-debate--leave-debate:hover{
    background-color: #437c8b;
    transition: .2s;
}

.in-debate--speaker-time-text {
    padding-top: 1rem;
}

.in-debate--speaker-time-element {
    border-radius: 1.5rem;
    margin-top: 2vh;
    height: 10vh;
}

.poi-button {
  border: 4px solid white;
  color: white;
  background-color: #333d4b;
  /* color: black; */
  margin: 0rem !important;
  transition: .3s;
  font-weight: bolder;
}

.button:hover:not(:disabled) {
      background-color: white;
      color:#333d4b
    }

@media (hover:hover) {
    .poi-button:hover:not(:disabled) {
      background-color: white;
      color:#333d4b
    }

}

.indebate--role-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.indebate--role-controls > button {
    margin: 0;
    min-width: auto;
}

.indebate--role-controls > .in-debate--finish-field {
    padding: 0 !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.indebate--role-controls > .in-debate--finish-field > button {
    margin: 0 5px;
    min-width: auto;
    width: 200px;
   
}

.in-debate--poi-seconds {
    position: absolute;
    font-size: 30px;
    color: #61C3C3;
}

/* ORDER */
.indebate--role-controls > button:nth-child(2) {
   order: 1;
}

/* HIDE */
.display-none {
    display: none;
}

.poi-button:disabled {
    opacity: 0.5;
    cursor: default;
}

@media screen and (max-width: 768px) {
    .in-debate--finish-button{
        width: 80%;
    }

    .indebate--entry-code-text {
        font-size: 16px;
    }

    .indebate--entry-code-field {
        margin: 0;
    }
}
@media screen and (max-width: 1000px) {
    .indebate--container {
        padding-top: 90px;
        width: 100%;
    }

    .poi-button {
        font-size: 15px;
        padding: 15px 30px;
    }

    .indebate--motion-text {
        font-size: 19px;
        padding: 0 10px;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 14px;
    }

    .indebate--numbers {
        margin-top: 0;
        margin-bottom: 0px;
    }

    .indebate--current-speaker {
        margin-bottom: 10px;
    }

    .indebate--buttons {
        margin-top: 20px;
    }

    .indebate--start-button, .indebate--reset-button {
        height: 40px;
        width: 150px;
        margin-bottom: 5px;
    }

    .indebate--start-button > img, .indebate--reset-button > img {
        height: 20px;
        margin-top: -30px;
    }

    .indebate--role-controls > button {
        margin: 0;
        min-width: auto;
        width: 60px;
    }

    .indebate--role-controls > .in-debate--finish-field {
        padding: 0 !important;
        margin-left: 5px !important;
        margin-right: 5px !important;
    }

    .indebate--role-controls > .in-debate--finish-field > button {
        margin: 0 5px;
        min-width: auto;
        width: 140px;
       
    }

    .indebate--role-controls button img {
        width: 20px;
        height: 20px;
    }

    .in-debate--poi-seconds {
        font-size: 18px;
        top: 5px;
    }
}