.error404--container{
    background: url( '../../images/evil6os.jpg') center center/cover no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    text-align: center;
    padding-top: 15vh;
    margin-right: 0px;
    margin-left: 10%;
}

.error404--inscription{
    padding-top: 30vh;
    color: whitesmoke;
    font-size: 100px;
    font-weight: 800;
    margin-top: -100px;
}

@media screen and (max-width: 768px) {
    .error404--container{
        margin-left: 0;
        width: 100%;
    }
}