.edit--base {
    min-height: 100vh;
}

.edit--container {
    min-height: 100vh;
    padding: 5rem;
    padding-top: 15vh;
    background-color: var(--primary-opacity);
}

.edit--error-row {
    min-height: 100vh;
}

.edit--title {
    margin-bottom: 4rem;
}

.edit--element {
    margin-bottom: 2rem;
    
}

.edit--element input {
    color: black;
    
}

.custom-textarea-style {
    color:var(--secondary);
    font-size: 24px;
}

.edit--aboutme > textarea{
    color: black;
    font-size: 24px;
    border-radius: 15px;
}


.edit--save-button-element {
    border-radius: 20px;
    font-size: 24px;
    font-weight: bold;
    background-color: var(--secondary);
    transition: .3s;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;

}

.edit--save-button-element > p{
    padding:0.5rem;
    font-size:28px;
}

.edit--save-button-element:hover {
    transition: .3s;    
    filter: brightness(80%);
    text-decoration: none;
}

.edit--save-button-row {
    margin-top: 4rem;
}
 

.profile--img-element{
    border-radius: 12px;
    transition: .2s;
}

/* .profile--img-element:hover{
    transform: rotate(360deg);
    transition: .2s;
} */

@media only screen and (max-width: 768px) {
    .profile--edit{
        width: 100%;
        justify-content: center;
    }

    .edit--save-button-element{
        width: 100% !important;
    }
}

@media screen and (max-width: 1000px) {
    .edit--container {
        padding: 90px 10px 20px 10px;
    }

    .edit--title {
        margin-bottom: 20px;
    }

    .edit--element {
        margin-bottom: 15px;
    }

    .edit--element h1, .edit--element input, .edit--element textarea {
        font-size: 18px;
    }
    
}