/* :root {
    --primary: rgb(255, 231, 211);
    --secondary: #333d4b;
    --third: #61c3c3;
} */

/* @media (min-width: 1200px) {
    .container{
        max-width: 1170px;
    }
} */

.nav {
    box-shadow: 0px 2px 2px black;
    padding-top: .75rem;
    padding-bottom: .75rem;
    z-index: 7;
    position: fixed;
    width: 100%;
    background-color: var(--primary) !important;
    /* background-color: var(--black) !important; */
}

.nav-brand {
    text-transform: uppercase;
    color: white;
    font-weight: 900;
}

.nav-brand .nav--span {
    color: #61c3c3;
}

.nav-link:hover {
    background-color: white;
    color: var(--primary);
    transition: .4s;
}

.nav-brand:hover {
    color: #61c3c3;
    transition: .4s;
}

.nav-link {
    color: white;
    border-radius: 1rem;
    margin: 5px;
    transition: .4s;

}


.navbar-toggler {
    background-color: #61c3c3;
}

.nav--separator-line {
    border-left: 1px solid white;
}

.yellow-text {
    color: #61c3c3;
}

.nav--logo {
    width: 8rem;
}
