/* :root {
  --primary: white;
  --secondary: #22344D;
  --third: #F2CA10;
} */

.home--container{
  height: 100vh;

  /*background-color: var(--mcc-kek);
  background: url( '../../images/mikrofon2.jpg') center center/cover no-repeat, linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
  background-attachment: fixed;
  background-blend-mode: overlay;*/
}

@media screen and (max-width: 1000px) {
  .home--container {
    height: 600px;
    background: url( '../../images/mikrofon2.jpg') center center/cover no-repeat, 
      linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 20%, rgba(0, 0, 0, 0.6) 40%, rgba(0, 0, 0, 0.6) 60%, rgb(27, 31, 37) 100%);
    background-attachment: scroll;
    background-blend-mode: overlay;
  }
}

  .trunk--container {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    object-fit: contain;
    text-align: center;
    padding-top: calc(50vh - 60px);

    
  }

  .trunk--container > h1 {
    color: var(--primary);
    font-size: 35px;
    font-weight: 800;
    margin-top: -80px;
  }

  .trunk--container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 15px;
    font-family: 'Trebuchet MS';
    font-style: italic;
    justify-content: space-between;
  }

  .trunk--container h1 {
    color: white;
  }

  .trunk--link-text {
    text-decoration: none;
    font-weight: bold;
  }

  .trunk--link-text:hover {
    text-decoration: none;
    color: white;
  }

  .trunk--btns {
    background-color: #1c222bec;
    width: 850px;
    margin-top: 50px;
    padding: 50px 80px;
    border-radius: 20px;
  }

  .trunk--btns--helper-text {
    margin-bottom: 30px;
    color: #95dad7;
  }

  .trunk--signin-button {
    transition: .3s;
    background-color: #333d4b;
    border: 2px solid #333d4b;
    border-radius: 1.25rem;
    color: white;
    padding: 15px;

    margin-left: 5px;
    min-width: 7rem;
  }
  
  .trunk--signin-button:hover{
    box-shadow: 0px 0px 30px black;
    background-color: transparent;
    transition: .3s;
  }

  .trunk--login-button {
    transition: .3s;
    border: 4px soid white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 1.25rem;
    color: white;
    transition: .3s;
    
    margin-right: 5px;
    min-width: 7rem;
  }

  .trunk--login-button:hover{
    box-shadow: 0px 0px 20px black;
    transition: .3s;
  }

  .trunk--login-link {
    color: white;
    display: inline-block;
    padding: 15px;
  }

  .trunk--signup-link {
    color: white;
  }


  @media screen and (min-width: 768px) {
    .trunk--container > h1 {
      font-size: 50px;
    }

    .trunk--container > p {
      font-size: 20px;
      margin-bottom: 5vh;
    }

    .trunk--mobile {
      display: block;
      text-decoration: none;
    }

    .btn {
      width: 100%;
    }
  }

  @media screen and (min-width: 1440px) {
    .trunk--container {
      padding-top: calc(50vh - 120px);
    }

    .trunk--container > h1 {
      font-size: 100px;
    }

    .trunk--container > p {
      font-size: 25px;
      margin-bottom: 5vh;
    }

    .trunk--login-button, .trunk--signin-button {
      width: 175px;
      height: 100px;
      font-size: 30px;
      margin: 0 20px;
    }
  }

  @media screen and (max-width: 1000px) {
    .trunk--btns {
      width: 100%;
      padding: 20px;
    }

    .trunk--btns--helper-text {
      font-size: 20px;
    }
  }