:root {
  --primary: white;
  --secondary: #22344D;
  --third: #F2CA10;
}

  .trunk--container {
    background: url( '../../images/mikrofon.jpg') center center/cover no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    text-align: center;
    padding-top: 15vh;
  }

  .trunk--container > h1 {
    color: var(--primary);
    font-size: 100px;
    font-weight: 800;
    margin-top: -100px;
  }

  .trunk--container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    justify-content: space-between;
  }

  .trunk--link-text {
    text-decoration: none;
    font-weight: bold;
  }

  .trunk--link-text:hover {
    text-decoration: none;
    color: white;
  }

  .trunk--login-button {
    margin: 15px;
    transition: .3s;
    border: 1rem solid white;
  }

  .trunk--login-button:hover{
    box-shadow: 0px 0px 20px black;
    transition: .3s;
  }
  .trunk--signin-button:hover{
    box-shadow: 0px 0px 30px black;
    background-color: #F2CA10;
    transition: .3s;
  }

  .trunk--signin-button {
    transition: .3s;
    margin: 15px;
  }


  @media screen and (max-width: 960px) {
    .trunk--container > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }

  @media screen and (max-width: 768px) {
    .trunk--container > h1 {
      font-size: 50px;
      margin-top: -100px;
    }

    .trunk--container > p {
      font-size: 30px;
    }

    .trunk--mobile {
      display: block;
      text-decoration: none;
    }

    .btn {
      width: 100%;
    }
  }
