:root {
    --primary: white;
    --secondary: #22344D;
    --third: #F2CA10;
}

.my-footer {
    border-top: 1rem solid var(--third);
}

.page-footer{
    background-color: var(--secondary);
    color: white;
}

a {
    color: white;
}
/* 
a:hover {
    color: var(--third);
} */

.footer--facebook, .footer--whatsapp, .footer--insta{
    max-height: 25px;
    transition: .2s;
}

.footer--facebook:hover, .footer--whatsapp:hover, .footer--insta:hover{
    box-shadow: 0px 0px 10px 10px #152437;
    border-radius: 50%;
}

.footer--icon {
    margin-bottom: 15px;
}

.footer--list-tag {
    margin-bottom: 15px;
}