/* :root {
    --primary: white;
    --secondary: #22344D;
    --third: #61c3c3;
    --bismarck: #437c8b;
} */

.page-footer{
    background-color: #333d4b;
    color: white;
    border-top: 3px solid var(--secondary);
}

.footer-copyright a {
    color: white;
}

.footer--facebook, .footer--whatsapp, .footer--insta{
    max-height: 25px;
    transition: .2s;
}

.footer--facebook:hover, .footer--whatsapp:hover, .footer--insta:hover{
    box-shadow: 0px 0px 10px 10px #152437;
    border-radius: 50%;
}

.footer--icon {
    margin-bottom: 15px;
}

.footer--list-tag {
    margin-bottom: 15px;
}


.list-unstyled li {
    text-decoration: none;
    margin: 0 0 5px 0;
    
}

.list-horizontal li {
    display: inline-block;
    margin: 5px 15px 0px 15px;
}

.footer--list-link {
    color: white;
    font-size: 18px;
    text-decoration: underline;
}

.footer--list-link:hover {
    color: var(--secondary);
}