:root {
    --primary: white;
    --secondary: #22344D;
    --third: #F2CA10;
}

.my-footer {
    border-top: 1rem solid var(--third);
}

.page-footer{
    background-color: var(--secondary);
    color: white;
}

a {
    color: white;
}
/* 
a:hover {
    color: var(--third);
} */

.footer--facebook {
    max-height: 25px;
}

.footer--whatsapp {
    max-height: 25px;
}

.footer--insta {
    max-height: 25px;
}

.footer--icon {
    margin-bottom: 15px;
}

.footer--list-tag {
    margin-bottom: 15px;
}