/* :root {
    --primary: white;
    --secondary: #22344D;
    --third: #F2CA10;
} */

.about-us--container {
    padding-top: 4vh;
    height: 100vh;
} 

.us--container{
    background-color: var(--primary);
    height: 100vh;
}

@media only screen and (max-width: 768px) {
    .what--text h1, .why--text h1{
        text-align: center;
        margin-bottom: 8vh;
    }
    .what--text p, .why--text p{
        text-align: justify;
        padding-bottom: 5vh;
        padding-top: 5vh;
        border-bottom: 2px solid var(--secondary);
        border-top: 2px solid var(--secondary);
    }

    .why--text{
        margin-top: 10vh;
    }
}