.finished-debate--base {
  min-height: 100vh;
  /* padding-top: 5rem; */
}

.finished-debate--base h1{
    color: black;
}

.finished-debate--base li {
  color: black;
}

.finished-debate--base{
  /* background-color: var(--beige); */
}

.place--finished{
  width: 20vw;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  margin-top: auto;
}

.place--finished p{
  width: 100%;
  text-align: center;
  color: var(--mcc-sarga);
  font-size: xx-large;
}

.take-place--results{
  background-color: var(--primary-light);
  border: 2px solid var(--secondary);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  color: var(--secondary);
}

#p1st{
  height: 55vh;
}
#p2nd{
  height: 42vh;
}
#p3rd{
  height: 28vh;
}
#p4th{
  height: 15vh;
}

.in-debate--leave-debate{
  margin-top: 10vh;
  width: 80%;
}

.finished-debate--hiba{
  margin-top: 15vh;
}

.finished-debate--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  min-height: 100vh;
  background-color: var(--primary-light);
  justify-content: center;
}

.finished-debate--container h1{
  color: white;
  margin-bottom: 3rem;
}


.finished-debate--ranking {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%
}

.finished-debate--container .ranking-row{
  display: flex;
  flex-direction: row;
  width: 45%;
  justify-content: space-between;
  border-bottom: 5px solid white;
  border-radius: 3px;
  padding: 10px;
  align-items: center;
}

.finished-debate--container #first{
  border: 5px solid var(--secondary);
  background-color: var(--secondary);
  border-radius: .75rem;
}

.finished-debate--container .ranking-row  p{
  margin-left: 10px;
  margin-bottom: 0px;
  vertical-align: middle;
  font-size: larger;
  /* color: var(--primary); */
}

@media screen and (max-width: 1000px) {
  .finished-debate--container .ranking-row{
    width: 70%;
  }
}

@media screen and (max-width: 665px) {
  .finished-debate--container .ranking-row{
    width: 90%;
  }
}
