:root {
  --black: #404040;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  color: var(--black);
}

.base {
  background-image: url('./images/bg-logo.png');
  background-size: 75px 75px;
}

.white-text {
  color: white;
}

/* container width */
@media only screen and (min-width: 1400px) {
  .container {
    min-width: 1350px; 
  }
}

@media only screen and (min-width: 1600px) {
  .container {
    min-width: 1550px; 
  }
}

@media only screen and (min-width: 1800px) {
  .container {
    min-width: 1750px; 
  }
}

@media only screen and (min-width: 1900px) {
  .container {
    max-width: 1850px; 
  }
}
/* container width*/