*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.new-debate--background{
    height: 100%;
    width: 100%;
    background-color: #485c7a;
    z-index: -1;
}

.main{
    min-height: 100vh;
    background-color: lightcoral;
}

.new-debate--decision--pro, .new-debate--decision--con, .new-debate--decision--judge{
    background-color: whitesmoke;
    border-radius: 12px;
    min-height: 20vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 2vh;
    max-width: 90vw !important;
}

.new-debate--teams {
    padding-top: 10vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

.new-debate--people{
    padding-top: 2rem;
    padding-left: 3vw;
    padding-right: 3vw;
}

.new-debate--person{
    background-color: lightgoldenrodyellow;
    border-radius: 7px;
    margin: 12px;
    transition: .2s;
    min-width: 100px;
}

.new-debate--person:hover{
    background-color: orangered;
    color: whitesmoke;
    transition: .2s;
}

.new-debate--decision{
    padding-top: 1rem;
}

.pro_team, .con_team{
    background-color: transparent;
    min-width: 100px;
    border-radius: 7px;
    transition: .2s;
    margin: 12px;

}

.pro_team:hover {
    background-color: #f9d342;
    transition: .2s;
}

.con_team:hover{
    background-color: #292826;
    color: whitesmoke;
}

.new-debate--next_btn_section{
    margin-bottom: 5vh;
}

.new-debate--next-btn{
    padding: 2vh;
    background-color: #f9d342;
    color: #292826;
    border-radius: 7px;
    width: 20vw;
}

.new-debate--procon-row{
    margin-top: 5vh !important;
}

.new-debate--pro-btn, .new-debate--con-btn, .new-debate--judge-btn{
    border-radius: 7px;
    color: whitesmoke;
    transition: .1s;
}

.new-debate--pro-btn{
    border: 1px solid #f9d342;
}
.new-debate--con-btn{
    border: 1px solid #292826;
}
.new-debate--judge-btn{
    border: 1px solid orange;
}

.new-debate--pro-btn:hover, .new-debate--con-btn:hover, .new-debate--judge-btn:hover{
    box-shadow: 0px 0px 10px black;
    background-color: whitesmoke;
    color: black;
    transition: .2s;
}

.new-debate--clear-btn-container--btn{
    padding: 1vw;
    border: none;
    border-radius: 7px;
    background-color: #f9d342;
    transition: .1s;
}

.new-debate--clear-btn-container--btn:hover{
    background-color: orange;
    color: white;
    transition: .2s;
}

.new-debate--background{
    min-height: 100vh;
}

.new-debate--container{
    min-height: 100vh;
    background-color: #485c7a;
}