/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


.new-debate--background{
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background: url( '../../images/mikrofon2.jpg') center center/cover no-repeat, linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    /*background-attachment: fixed;
    background-blend-mode: overlay;
    height: 100vh;*/
    z-index: -1;
}

.new-debate--decision--pro, .new-debate--decision--con, .new-debate--decision--judge{
    /*background-color: whitesmoke;*/
    border-radius: 12px;
    min-height: 20vh;
    /* margin-top: 2vh; */
    margin-bottom: 5vh;
    /* padding: 2vh; */
    max-width: 90vw !important;
    margin-top: 7vh;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 1rem; */
    /* background-color: rgb(243, 234, 226) !important; */
}

.new-debate--procon-row{
    margin-top: 5vh !important;
}

.new-debate--clear-btn-container--btn{
    padding: 1vw;
    border: none;
    border-radius: 7px;
    background-color: #61c3c3;
    transition: .1s;
}

.new-debate--clear-btn-container--btn:hover{
    background-color: #61c3c3;
    color: white;
    transition: .2s;
}


.new-debate--container{
    min-height: 100vh;
    /* A bgcolor megkapja a hatternek a szinet */
    background-color: transparent;
    padding-top: 8vh;
}

.new-debate--container-row {
    padding: 0;
}

.new-debate--not-logged-in-cont {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
}

.new-debate--participant{
    background-color: rgb(243, 234, 226);
    border-radius: 5px;
    margin-top: 5px;
    width: 100% !important;
    text-align: center;
    border: 2px solid #333d4b;
    transition: .1s;
}

.new-debate--participant:hover{
    border-radius: 12px;
    background-color: #333d4b;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    transition: .2s;
    cursor:pointer;
}

.new-debate--button {
    margin-bottom: 2rem;
    border: 3px solid white;
    border-radius: 1rem;
    padding: .5rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: .3s;
}

.new-debate--button:hover {
    color: var(--mcc-kek);
    background-color: white;
    transition: .3s;
}

.new-debate--label {
    margin-left: 5px;
    /* margin-bottom: 2rem; */
    /* background-color: var(--mcc-sarga); */
    /* color: var(--mcc-kek); */
    color: white;
    font-weight: bold;

}

.new-debate--line {
    border-top: 3px solid white;
    color: white;
    opacity: 100%;
}

.new-debate--motion-text-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}


.new-debate--motion-text {
    font-weight: bold;
    color: var(--mcc-kek);
    font-size: 48px;
    background-color: var(--opac-white);
    border-bottom: none;
    text-align: center;
    text-overflow:ellipsis;
    border-radius: 1rem;
}

.new-debate--motion-set {
    color: white;
    text-decoration: underline;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 1rem;
}

.new-debate--motion-set-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.new-debate--motion-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.new-debate--motion-random-text {
    cursor: pointer;
}

.new-debate--basic-text, .new-debate--current-role, .new-debate--ready, .new-debate--entry-code{
    font-size:28px;
    font-style: bold;
}

.new-debate--container-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}


/* NEW DEBATE CARD  */
.new-debate--card {
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 20px black;
    background-color: var(--primary);
    color: white;
    margin-bottom: 1rem;
    height: 11rem;
    transition: .3s;
}

.new-debate--card:hover{
    box-shadow: 0px 0px 40px black;
}

.new-debate--card--label {
    color:white;
    margin-bottom: .5rem;
}

.new-debate--card--participant {
    /* margin-top: 1rem; */
    
}


.new-debate--card--participant--img {
    color:white;
    height: 5rem;
}

.new-debate--card--picture {
    max-height: 5rem;
}

.new-debate--spectator-card {
    padding: .5rem;
}

.new-debate--spectator-card--picture {
    max-height: 2.5rem;
}

.new-debate--card--picture-mobile {
    max-height: 4rem;
}


.new-debate--card--participant--name {
    color:white;
}

.new-debate--decision--pro--mobile, .new-debate--decision--con--mobile{
    margin-top: 7vh;
}

.new-debate--pro-btn--mobile, .new-debate--con-btn--mobile{
    font-size: 26px;
    margin-bottom: 2vh;
}

.new-debate--card--mobile{
    height: 12vh;
}

.new-debate--motion--mobile{
    margin-top: 7vh !important;
}

.new-debate--motion-text--mobile{
    font-size: 32px;
}

.new-debate--background--mobile{
    background-color: var(--mcc-kek);
}

.new-debate--center-spectators-row {
    /* background-color: rgba(255, 255, 255, 0.679); */
    background-color: var(--opac-white);
    border-radius: 1rem;
    margin-top: 3rem;
}

.new-debate--spectator-card--username {
    color: var(--mcc-kek);
}