/* :root {
    --primary: white;
    --secondary: #22344D;
    --third: #F2CA10;
  }
     */

.what--container {
    display: flex;
    flex-direction: column;
}

.what--text {
    width: 100%;
    padding: 2rem;
}

.what--text >h1 {
    font-size: 48px;
    color: white;
}

.what--text >p {
    margin-top: 14px;
    font-size: 20px;
    line-height: 1.75rem;
    color: white;
}
